html, body, #root
{
    background-color: #262626;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    margin: 0 !important;
    position: relative;
}

main
{
    width: 100%;
    height: 100%;
}

.messageBox
{
    background-color: #2A6C0A;
    height: 0px;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all .3s linear;
}

#ActivityIndicator
{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#262626;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.active
{
    height: 60px;
}

.messageBox h1
{
    font-size: 1.4em;
    color: #ccc;
    text-align: center;
    font-family: Calibri;
    font-weight: 400;
}

header
{
    width: 100%;
    height: auto;
}

header div{
    width: 100%;
    background-color: #1B1D21;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1
{
    font-size: 1.4em;
    color: #ccc;
    text-align: center;
    font-family: Cambria;
    font-weight: 400;
}

#container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container .playGround
{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: center;
    align-items: center;
}


#codeHeader
{
    text-align: left;
    width: 100%;
}

#codeHeader h1
{
    font-size: 1em;
    font-weight: 100;
    color: #ccc;
    font-family: Cambria;
    padding: 0;
    margin-top: 10px;
}

#code-editor 
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 2;
    display: none;
    
}

.buttonWrapper
{
    display: flex;
    flex-direction: column;
    margin-left: -25px;
    align-content: space-around;
    align-self: center;
    justify-content: space-around;
    width: auto;
    height: 50%;
    z-index: 4;
}

button
{
    background-color: #622134;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    z-index: 4;
    color: #ccc;
}

button:focus
{
    outline: none;
}

.icon
{
    width: 20px;
    height: 20px;
    fill: white;
}

.react-codemirror2
{
    width: 100%;
    border: 1px solid #ccc;
    border-left: none;
}

.codeMirrorBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#footer
{
    width: 100%;
    text-align: center;
}

#footer p 
{
    font-size: 1em;
    color: #ccc;
    font-family: Calibri;
    font-weight: 100;
    margin: 0;
}

#footer p:first-child
{
    margin-top: 10px;
}

#footer a
{
    color: #ccc; 
}

@media screen and (max-width: 1000px)
{
    body
    {
        font-size: 23px;
    }

    #container .playGround
    {
        width: 90%;
        height: 100%;
    }

    .codeMirrorBox
    {
        flex-direction: column;
        align-content: center;
        height: 100%;
        width: 100%;
    }

    .react-codemirror2
    {
        height: 90%;
    }

    .react-codemirror2 .CodeMirror
    {
        height: 100%;
    }

    .buttonWrapper
    {
        margin-top: -25px;
        margin-left: 0;
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}